<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Sudoku</title>
    <link rel="stylesheet" href="../static/style.css"
          th:href="@{/style.css}">
    <link rel="icon" href="../static/favicon/sudoku_icon.ico"
          th:href="@{/favicon/sudoku_icon.ico}">
</head>
<body>
<div class="centered-div">
    <!-------------------------------Title----------------------------------->
    <h1 id="title">Sudoku</h1>
    <!------------------------------Buttons---------------------------------->
    <section id="button-section">
        <div id="new-game-div" class="button">
            <h2 id="new-game-button" class="button-text">New Game</h2>
        </div>
        <div id="check-game-div" class="button">
            <h2 id="check-button" class="button-text">Check</h2>
        </div>
    </section>
    <section id="difficulty-section">
        <div id="difficulty-container">
            <div id="difficulty-title-text-container">
                <h2 id="difficulty-title-text">Difficulty</h2>
            </div>
            <ul>
                <li class="difficulty-option">
                    <h3>Beginner</h3>
                </li>
                <li class="difficulty-option">
                    <h3>Easy</h3>
                </li>
                <li class="difficulty-option">
                    <h3>Medium</h3>
                </li>
                <li class="difficulty-option">
                    <h3>Hard</h3>
                </li>
                <li class="difficulty-option">
                    <h3>Expert</h3>
                </li>
            </ul>
        </div>
    </section>
    <!-------------------------------Timer----------------------------------->
    <section id="timer-section">
        <h2 id="timer">00:00</h2>
    </section>
    <!-------------------------------Board----------------------------------->
    <section id="game-section" th:replace="game-board-patch :: game-board-patch">

    </section>
</div>
<!------------------------------Hover-Selection------------------------------>
<section id="hover-selection">
    <div class="num-top-row" id="num-hover-container">
        <div class="hover-num-container" id="left-side-hover">
            <h4 class="choice-num" id="choice-none">&nbsp;</h4>
        </div>
        <div class="hover-num-container">
            <h4 class="choice-num" id="choice-1">1</h4>
        </div>
        <div class="hover-num-container">
            <h4 class="choice-num" id="choice-2">2</h4>
        </div>
        <div class="hover-num-container">
            <h4 class="choice-num" id="choice-3">3</h4>
        </div>
        <div class="hover-num-container">
            <h4 class="choice-num" id="choice-4">4</h4>
        </div>
        <div class="hover-num-container">
            <h4 class="choice-num" id="choice-5">5</h4>
        </div>
        <div class="hover-num-container">
            <h4 class="choice-num" id="choice-6">6</h4>
        </div>
        <div class="hover-num-container">
            <h4 class="choice-num" id="choice-7">7</h4>
        </div>
        <div class="hover-num-container">
            <h4 class="choice-num" id="choice-8">8</h4>
        </div>
        <div class="hover-num-container" id="right-side-hover">
            <h4 class="choice-num" id="choice-9">9</h4>
        </div>
    </div>
</section>
<noscript>
    <h1>JavaScript is required to run this application.</h1>
</noscript>
<script src="../static/request-script.js" th:src="@{/request-script.js}"></script>
</body>
</html>